@media (prefers-color-scheme: dark) {
  .bevel-border {
    /* FIXME dark theme assets */
    --edge: url(/asset/themed/light/image/bevel_border/edge.png);
    --tl: url(/asset/themed/light/image/bevel_border/tl.png);
    --tr: url(/asset/themed/light/image/bevel_border/tr.png);
    --br: url(/asset/themed/light/image/bevel_border/br.png);
    --bl: url(/asset/themed/light/image/bevel_border/bl.png);
  }
}

@media (prefers-color-scheme: light) {
  .bevel-border {
    --edge: url(/asset/themed/light/image/bevel_border/edge.png);
    --tl: url(/asset/themed/light/image/bevel_border/tl.png);
    --tr: url(/asset/themed/light/image/bevel_border/tr.png);
    --br: url(/asset/themed/light/image/bevel_border/br.png);
    --bl: url(/asset/themed/light/image/bevel_border/bl.png);
  }
}

.bevel-border {
  position: relative;

  --border-slice: 8;
  --border-width: calc(1px * var(--border-slice) * var(--pixel-scale));

  border: solid;
  border-width: var(--border-width);
  border-image: var(--edge) var(--border-slice) repeat;

  background-color: #fafafa;
  background-clip: padding-box;

  &::before {
    position: absolute;
    inset: calc(-1 * var(--border-width));

    content: "";
    pointer-events: none;

    background:
      var(--tl) top left no-repeat,
      var(--tr) top right no-repeat,
      var(--br) bottom right no-repeat,
      var(--bl) bottom left no-repeat;

    background-size: calc(15px * var(--pixel-scale));
  }
}
