.bevel-border {
  position: relative;

  --border-slice: 8;
  --border-width: calc(1px * var(--border-slice) * var(--pixel-scale));

  border: solid;
  border-width: var(--border-width);
  border-image: url(/asset/image/bevel_border/edge.png) var(--border-slice)
    repeat;

  background-color: #fafafa;
  background-clip: padding-box;

  &::before {
    position: absolute;
    inset: calc(-1 * var(--border-width));

    content: "";
    pointer-events: none;

    --corner-size: 15px;

    background:
      url(/asset/image/bevel_border/tl.png) top left no-repeat,
      url(/asset/image/bevel_border/tr.png) top right no-repeat,
      url(/asset/image/bevel_border/br.png) bottom right no-repeat,
      url(/asset/image/bevel_border/bl.png) bottom left no-repeat;

    background-size: calc(var(--corner-size) * var(--pixel-scale));
  }
}
