[theme="dark"] .horizontal-tube {
  --container-r: url(/asset/themed/dark/image/horizontal_tube/r.png);
  --container-l: url(/asset/themed/dark/image/horizontal_tube/l.png);
  --button-r: url(/asset/themed/dark/image/horizontal_tube/rb.png);
  --button-m: url(/asset/themed/dark/image/horizontal_tube/mb.png);
  --button-l: url(/asset/themed/dark/image/horizontal_tube/lb.png);
  --border-r: url(/asset/themed/dark/image/horizontal_tube/rt.png);
  --border-m: url(/asset/themed/dark/image/horizontal_tube/mt.png);
  --border-l: url(/asset/themed/dark/image/horizontal_tube/lt.png);
  --border-s: url(/asset/themed/dark/image/horizontal_tube/s.png);

  *:last-child {
    --border-s: url(/asset/themed/dark/image/horizontal_tube/ls.png);
  }
}

[theme="light"] .horizontal-tube {
  --container-r: url(/asset/themed/light/image/horizontal_tube/r.png);
  --container-l: url(/asset/themed/light/image/horizontal_tube/l.png);
  --button-r: url(/asset/themed/light/image/horizontal_tube/rb.png);
  --button-m: url(/asset/themed/light/image/horizontal_tube/mb.png);
  --button-l: url(/asset/themed/light/image/horizontal_tube/lb.png);
  --border-r: url(/asset/themed/light/image/horizontal_tube/rt.png);
  --border-m: url(/asset/themed/light/image/horizontal_tube/mt.png);
  --border-l: url(/asset/themed/light/image/horizontal_tube/lt.png);
  --border-s: url(/asset/themed/light/image/horizontal_tube/s.png);

  *:last-child {
    --border-s: url(/asset/themed/light/image/horizontal_tube/ls.png);
  }
}

.horizontal-tube {
  --height: calc(47 * var(--scale-px));
  --width-r: calc(18 * var(--scale-px));
  --width-l: calc(24 * var(--scale-px));

  display: flex;
  padding: 0 var(--width-r) 0 var(--width-l);
  height: var(--height);

  background:
    var(--container-r) right / var(--width-r) var(--height) no-repeat,
    var(--container-l) left / var(--width-l) var(--height) no-repeat;

  button {
    --margin: calc(19 * var(--scale-px));
    --space: calc(6 * var(--scale-px));
    --height: calc(27 * var(--scale-px));
    --width-r: calc(4 * var(--scale-px));
    --width-m: calc(1 * var(--scale-px));
    --width-l: calc(3 * var(--scale-px));

    position: relative;
    height: var(--height);
    margin-top: var(--margin);
    margin-right: var(--space);
    min-width: calc(var(--width-r) + var(--width-m) + var(--width-l));
    padding: 0 calc(6 * var(--scale-px));

    background:
      var(--button-r) right / var(--width-r) var(--height) no-repeat,
      var(--button-l) left / var(--width-l) var(--height) no-repeat,
      var(--button-m) center / var(--width-m) var(--height) repeat-x;

    text-align: center;

    &::before {
      --width-r: calc(21 * var(--scale-px));

      position: absolute;
      content: "";
      pointer-events: none;

      top: calc(-1 * var(--margin));
      left: 0;
      right: 0;
      height: var(--margin);

      background:
        var(--border-r) right / var(--width-r) var(--margin) no-repeat,
        var(--border-l) left / var(--width-l) var(--margin) no-repeat,
        var(--border-m) center / var(--width-m) var(--margin) repeat-x;
    }

    &::after {
      --height: calc(47 * var(--scale-px));

      position: absolute;
      content: "";
      pointer-events: none;

      top: calc(-1 * var(--margin));
      right: calc(-1 * var(--space));
      width: var(--space);
      height: var(--height);

      background: var(--border-s) center / var(--space) var(--height) no-repeat;
    }
  }
}
