@media (prefers-color-scheme: dark) {
  .small-border {
    --edge: url(/asset/themed/dark/image/small_border/edge.png);
    --tl: url(/asset/themed/dark/image/small_border/tl.png);
    --tr: url(/asset/themed/dark/image/small_border/tr.png);
    --br: url(/asset/themed/dark/image/small_border/br.png);
    --bl: url(/asset/themed/dark/image/small_border/bl.png);
    --inner-edge: url(/asset/themed/dark/image/small_border/inner_edge.png);
    --tl-tr: url(/asset/themed/dark/image/small_border/table/tl/tr.png);
    --tl-br: url(/asset/themed/dark/image/small_border/table/tl/br.png);
    --tl-bl: url(/asset/themed/dark/image/small_border/table/tl/bl.png);
    --tr-br: url(/asset/themed/dark/image/small_border/table/tr/br.png);
    --bl-br: url(/asset/themed/dark/image/small_border/table/bl/br.png);
  }
}

@media (prefers-color-scheme: light) {
  .small-border {
    --edge: url(/asset/themed/light/image/small_border/edge.png);
    --tl: url(/asset/themed/light/image/small_border/tl.png);
    --tr: url(/asset/themed/light/image/small_border/tr.png);
    --br: url(/asset/themed/light/image/small_border/br.png);
    --bl: url(/asset/themed/light/image/small_border/bl.png);
    --inner-edge: url(/asset/themed/light/image/small_border/inner_edge.png);
    --tl-tr: url(/asset/themed/light/image/small_border/table/tl/tr.png);
    --tl-br: url(/asset/themed/light/image/small_border/table/tl/br.png);
    --tl-bl: url(/asset/themed/light/image/small_border/table/tl/bl.png);
    --tr-br: url(/asset/themed/light/image/small_border/table/tr/br.png);
    --bl-br: url(/asset/themed/light/image/small_border/table/bl/br.png);
  }
}

.small-border {
  position: relative;

  --border-slice: 3;
  --border-width: calc(1px * var(--border-slice) * var(--pixel-scale));
  --corner-size: calc(9px * var(--pixel-scale));

  border: solid;
  border-width: var(--border-width);
  /* prettier-ignore */
  border-image:
    var(--edge) var(--border-slice) repeat;

  &::before {
    position: absolute;
    inset: calc(-1 * var(--border-width));

    content: "";
    pointer-events: none;

    background:
      var(--tl) top left no-repeat,
      var(--tr) top right no-repeat,
      var(--br) bottom right no-repeat,
      var(--bl) bottom left no-repeat;

    background-size: calc(7px * var(--pixel-scale));
  }
}

/* Table */

table.small-border {
  border-spacing: 0;

  &::before {
    inset: 0;
  }

  & td {
    padding: 0;
  }

  /* prettier-ignore */
  --corner-inset:
    calc(-5px * var(--pixel-scale))
    calc(-6px * var(--pixel-scale))
    calc(-7px * var(--pixel-scale));

  /* Top-left corner */
  & tr:first-child td:first-child {
    position: relative;

    border: solid;
    border-width: 0 var(--border-width) var(--border-width) 0;
    /* prettier-ignore */
    border-image:
      var(--inner-edge) var(--border-slice) repeat;

    &::before {
      position: absolute;
      /* prettier-ignore */
      inset: var(--corner-inset);

      content: "";
      pointer-events: none;

      background:
        var(--tl-tr) top right no-repeat,
        var(--tl-br) bottom right no-repeat,
        var(--tl-bl) bottom left no-repeat;
      background-size: var(--corner-size);
    }
  }

  /* Top edge (excluding corners) */
  & tr:first-child td:not(:first-child):not(:last-child) {
    position: relative;

    border: solid;
    border-width: 0 var(--border-width) var(--border-width) 0;
    /* prettier-ignore */
    border-image:
      var(--inner-edge) var(--border-slice) repeat;

    &::before {
      position: absolute;
      inset: var(--corner-inset);

      content: "";
      pointer-events: none;

      background:
        var(--tl-tr) top right no-repeat,
        var(--tl-br) bottom right no-repeat;
      background-size: var(--corner-size);
    }
  }

  /* Top-right corner */
  & tr:first-child td:last-child,
  /* Right edge (excluding corners) */
  & tr:not(:first-child):not(:last-child) td:last-child {
    position: relative;

    border: solid;
    border-width: 0 0 var(--border-width) 0;
    /* prettier-ignore */
    border-image:
      var(--inner-edge) var(--border-slice) repeat;

    &::before {
      position: absolute;
      inset: var(--corner-inset);

      pointer-events: none;
      content: "";

      /* prettier-ignore */
      background:
        var(--tr-br) bottom right no-repeat;
      background-size: var(--corner-size);
    }
  }

  /* Left edge (excluding corners) */
  & tr:not(:first-child):not(:last-child) td:first-child {
    position: relative;

    border: solid;
    border-width: 0 var(--border-width) var(--border-width) 0;
    /* prettier-ignore */
    border-image:
      var(--inner-edge) var(--border-slice) repeat;

    &::before {
      position: absolute;
      inset: var(--corner-inset);

      content: "";
      pointer-events: none;

      background:
        var(--tl-br) bottom right no-repeat,
        var(--tl-bl) bottom left no-repeat;
      background-size: var(--corner-size);
    }
  }

  /* Center */
  &
    tr:not(:first-child):not(:last-child)
    td:not(:first-child):not(:last-child) {
    position: relative;

    border: solid;
    border-width: 0 var(--border-width) var(--border-width) 0;
    /* prettier-ignore */
    border-image:
     var(--inner-edge) var(--border-slice) repeat;

    &::before {
      position: absolute;
      inset: var(--corner-inset);

      content: "";
      pointer-events: none;

      /* prettier-ignore */
      background:
        var(--tl-br) bottom right no-repeat;
      background-size: var(--corner-size);
    }
  }

  /* Bottom-left corner */
  & tr:last-child td:first-child,
  /* Bottom edge (excluding corners) */
  & tr:last-child td:not(:first-child):not(:last-child) {
    position: relative;

    border: solid;
    border-width: 0 var(--border-width) 0 0;
    /* prettier-ignore */
    border-image:
      var(--inner-edge) var(--border-slice) repeat;

    &::before {
      position: absolute;
      inset: var(--corner-inset);

      content: "";
      pointer-events: none;

      /* prettier-ignore */
      background:
        var(--bl-br) bottom right no-repeat;
      background-size: var(--corner-size);
    }
  }
}

/* FIXME single row/column table double edges bug */
