@import url("./window-border.css");
@import url("./small-border.css");
@import url("./bevel-border.css");
@import url("./top-section.css");
@import url("./fonts.css");
@import url("./reset.css");

:root {
  --pixel-scale: 1;
}

.flex-break {
  flex-basis: 100%;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;

  image-rendering: pixelated;
  background-image: url(/asset/generic/image/background.png);
  background-size: calc(144px * var(--pixel-scale));

  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  font-family: "PixeloidSans";

  --baseline-text-size: 7px;

  font-size: calc(var(--baseline-text-size) * var(--pixel-scale));
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  gap: calc(5px * var(--pixel-scale)) calc(10px * var(--pixel-scale));
}

footer {
  text-align: center;
  margin: calc(10px * var(--pixel-scale)) 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #ebebeb;
  margin: calc(1px * var(--pixel-scale)) 0;

  & > a {
    display: block;
    width: 100%;
    height: 100%;

    padding: calc(2px * var(--pixel-scale)) calc(4px * var(--pixel-scale));

    & > img {
      display: inline-block;
      width: calc(11px * var(--pixel-scale));
      height: calc(11px * var(--pixel-scale));

      /* prettier-ignore */
      margin-right: calc(2px * var(--pixel-scale));
      margin-left: calc(-2px * var(--pixel-scale));

      vertical-align: top;
      object-fit: contain;
      object-position: center;
    }

    &:hover {
      color: #ffffff;
      background-color: #000000;

      & > img {
        filter: invert();
      }
    }
  }
}

a {
  text-decoration-thickness: calc(1px * var(--pixel-scale));

  &:not(.no-arrow)::after {
    display: inline-block;
    margin-left: 0.25em;

    content: " 🔗";
    text-decoration: none;
  }
}

a:has(> img:only-child) {
  position: relative;
  display: block;

  &:not(.no-arrow)::after {
    position: absolute;
    top: calc(-1px * var(--pixel-scale));
    right: calc(1.5px * var(--pixel-scale));

    content: "🔗";
    color: #ffffff;
    mix-blend-mode: difference;
  }
}

#alien {
  align-self: flex-end;
  /* prettier-ignore */
  margin:
  0
  calc(10px * var(--pixel-scale))
  calc(37.5px * var(--pixel-scale))
  0;
  scale: var(--pixel-scale);
}

#headshot {
  margin-bottom: calc(-37.5px * var(--pixel-scale));
}

#about {
  align-self: flex-end;

  width: calc(130px * var(--pixel-scale));
  padding: calc(4px * var(--pixel-scale));

  & p {
    text-indent: calc(8px * var(--pixel-scale));
  }

  & p:not(:last-child) {
    margin-bottom: calc(3px * var(--pixel-scale));
  }
}

#writing {
  align-self: flex-end;
}

#gallery {
  padding: calc(2px * var(--pixel-scale));
  background-color: #6f6f6f;

  & img {
    width: calc(50px * var(--pixel-scale));
  }
}

#links {
  min-width: calc(85px * var(--pixel-scale));
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  :root {
    --pixel-scale: 1;
    cursor: url(/asset/generic/cursor/default/1.png), default;

    a {
      cursor: url(/asset/generic/cursor/pointer/1.png), pointer;
    }
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  :root {
    --pixel-scale: 2;
    cursor: url(/asset/generic/cursor/default/2.png), default;

    a {
      cursor: url(/asset/generic/cursor/pointer/2.png), pointer;
    }
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XXL (extra large, 1400px and up) */
@media (min-width: 1400px) {
  :root {
    --pixel-scale: 3;
    cursor: url(/asset/generic/cursor/default/3.png), default;

    a {
      cursor: url(/asset/generic/cursor/pointer/3.png), pointer;
    }
  }
}
