@import url("./window-border.css");
@import url("./small-border.css");
@import url("./bevel-border.css");
@import url("./top-section.css");
@import url("./fonts.css");
@import url("./reset.css");

:root {
  --pixel-scale: 2;
}

.flex-break {
  flex-basis: 100%;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;

  image-rendering: pixelated;
  background-image: url(/asset/image/background.png);
  background-size: calc(144px * var(--pixel-scale));

  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  font-family: "PixeloidSans";

  --baseline-text-size: 7px;

  font-size: calc(var(--baseline-text-size) * var(--pixel-scale));
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  gap: calc(5px * var(--pixel-scale)) calc(10px * var(--pixel-scale));
}

footer {
  text-align: center;
  margin: calc(10px * var(--pixel-scale)) 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #ebebeb;
  margin: calc(1px * var(--pixel-scale)) 0;
  padding: calc(2px * var(--pixel-scale)) calc(4px * var(--pixel-scale));

  & > a > img {
    display: inline;

    padding: 0 0 calc(2px * var(--pixel-scale)) 0;
    /* prettier-ignore */
    margin:
      0
      calc(2px * var(--pixel-scale))
      calc(-4px * var(--pixel-scale))
      calc(-2px * var(--pixel-scale));
  }
}

a {
  text-decoration-thickness: calc(1px * var(--pixel-scale));

  &:not(.no-arrow)::after {
    display: inline-block;
    margin-left: 0.25em;

    content: " 🔗";
    text-decoration: none;
  }

  & > img:first-child:not(:only-child) {
    scale: var(--pixel-scale);
    /* prettier-ignore */
    margin:
      0
      calc(5px * var(--pixel-scale))
      calc(-3px * var(--pixel-scale))
      calc(0.5px * var(--pixel-scale));
  }
}

a:has(> img:only-child) {
  position: relative;
  display: block;

  &:not(.no-arrow)::after {
    position: absolute;
    top: calc(-1px * var(--pixel-scale));
    right: calc(1.5px * var(--pixel-scale));

    content: "🔗";
    color: #ffffff;
    mix-blend-mode: difference;
  }
}

#alien {
  align-self: flex-end;
  /* prettier-ignore */
  margin:
  0
  calc(10px * var(--pixel-scale))
  calc(37.5px * var(--pixel-scale))
  0;
  scale: var(--pixel-scale);
}

#headshot {
  /* FIXME use @media to change the picture */
  margin-bottom: calc(-37.5px * var(--pixel-scale));
}

#about {
  align-self: flex-end;

  width: calc(130px * var(--pixel-scale));
  padding: calc(4px * var(--pixel-scale));

  & p {
    text-indent: calc(8px * var(--pixel-scale));
  }

  & p:not(:last-child) {
    margin-bottom: calc(3px * var(--pixel-scale));
  }
}

#writing {
  align-self: flex-end;
}

#gallery {
  padding: calc(2px * var(--pixel-scale));
  background-color: #6f6f6f;

  & img {
    width: calc(50px * var(--pixel-scale));
  }
}

#links {
  min-width: calc(85px * var(--pixel-scale));
}
