@import url("./component/window-description/window-description.css");
@import url("./component/theme-selector/theme-selector.css");
@import url("./component/window-border/window-border.css");
@import url("./component/bevel-border/bevel-border.css");
@import url("./component/tube/tube.css");
@import url("./small-border.css");
@import url("./cursor.css");
@import url("./fonts.css");
@import url("./reset.css");

@property --scale {
  syntax: "<integer>";
  initial-value: 1;
  inherits: true;
}

:root {
  &[scale="1"] {
    --scale: 1;
  }

  &[scale="2"] {
    --scale: 2;
  }

  &[scale="3"] {
    --scale: 3;
  }

  /* FUTURE: use @function */
  --scale-px: calc(1px * var(--scale));
}

[theme="dark"] body {
  --background: url(/asset/themed/dark/image/background.png);
  color: #cccccc;

  li {
    --background: #3a3a3a;
  }

  a {
    color: #8c8cff;

    &:visited {
      color: #d0adf0;
    }
  }
}

[theme="light"] body {
  --background: url(/asset/themed/light/image/background.png);

  li {
    --background: #ebebeb;
  }
}

.flex-break {
  flex-basis: 100%;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;

  image-rendering: pixelated;
  background-image: var(--background);
  background-size: calc(144 * var(--scale-px));

  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  font-family: "PixeloidSans";

  --baseline-text-size: 7px;

  font-size: calc(var(--baseline-text-size) * var(--scale));
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  gap: calc(5 * var(--scale-px)) calc(10 * var(--scale-px));
}

footer {
  text-align: center;
  margin: calc(10 * var(--scale-px)) 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: var(--background);
  margin: calc(1 * var(--scale-px)) 0;

  & > a {
    display: block;
    width: 100%;
    height: 100%;

    padding: calc(2 * var(--scale-px)) calc(4 * var(--scale-px));

    & > img {
      display: inline-block;
      width: calc(11 * var(--scale-px));
      height: calc(11 * var(--scale-px));

      /* prettier-ignore */
      margin-right: calc(2 * var(--scale-px));
      margin-left: calc(-2 * var(--scale-px));

      vertical-align: top;
      object-fit: contain;
      object-position: center;
    }

    &:hover {
      color: #ffffff;
      background-color: #000000;

      & > img {
        filter: invert();
      }
    }
  }
}

a {
  text-decoration-thickness: calc(1 * var(--scale-px));

  &:not(.no-arrow)::after {
    display: inline-block;
    margin-left: 0.25em;

    content: " 🔗";
    text-decoration: none;
  }
}

a:has(> img:only-child) {
  position: relative;
  display: block;

  &:not(.no-arrow)::after {
    position: absolute;
    top: calc(-1 * var(--scale-px));
    right: calc(1.5 * var(--scale-px));

    content: "🔗";
    color: #ffffff;
    mix-blend-mode: difference;
  }
}

#alien {
  align-self: flex-end;
  /* prettier-ignore */
  margin:
  0
  calc(10 * var(--scale-px))
  calc(37.5 * var(--scale-px))
  0;
  scale: var(--scale);
}

#headshot {
  margin-bottom: calc(-37.5 * var(--scale-px));
}

#about {
  align-self: flex-end;

  width: calc(130 * var(--scale-px));
  padding: calc(4 * var(--scale-px));

  & p {
    text-indent: calc(8 * var(--scale-px));
  }

  & p:not(:last-child) {
    margin-bottom: calc(3 * var(--scale-px));
  }
}

#writing {
  align-self: flex-end;
}

#gallery {
  padding: calc(2 * var(--scale-px));

  & img {
    width: calc(50 * var(--scale-px));
  }
}

#links {
  min-width: calc(85 * var(--scale-px));
}
