[theme="dark"] .top-section {
  --tl: url(/asset/themed/dark/image/top_section/tl.png);
  --tr: url(/asset/themed/dark/image/top_section/tr.png);
  --br: url(/asset/themed/dark/image/top_section/br.png);
  --bl: url(/asset/themed/dark/image/top_section/bl.png);
  --t: url(/asset/themed/dark/image/top_section/t.png);
  --r: url(/asset/themed/dark/image/top_section/r.png);
  --b: url(/asset/themed/dark/image/top_section/b.png);
  --l: url(/asset/themed/dark/image/top_section/l.png);
  --c: url(/asset/themed/dark/image/top_section/c.png);
}

[theme="light"] .top-section {
  --tl: url(/asset/themed/light/image/top_section/tl.png);
  --tr: url(/asset/themed/light/image/top_section/tr.png);
  --br: url(/asset/themed/light/image/top_section/br.png);
  --bl: url(/asset/themed/light/image/top_section/bl.png);
  --t: url(/asset/themed/light/image/top_section/t.png);
  --r: url(/asset/themed/light/image/top_section/r.png);
  --b: url(/asset/themed/light/image/top_section/b.png);
  --l: url(/asset/themed/light/image/top_section/l.png);
  --c: url(/asset/themed/light/image/top_section/c.png);
}

.top-section {
  --width-t: calc(4px * var(--scale));
  --width-r: calc(24px * var(--scale));
  --width-b: calc(5px * var(--scale));
  --width-l: calc(24px * var(--scale));

  background:
    var(--tl) top left / var(--width-l) var(--width-t) no-repeat,
    var(--tr) top right / var(--width-r) var(--width-t) no-repeat,
    var(--br) bottom right / var(--width-r) var(--width-b) no-repeat,
    var(--bl) bottom left / var(--width-l) var(--width-b) no-repeat,
    var(--t) top / calc(1px * var(--scale)) var(--width-t) repeat-x,
    var(--r) right / var(--width-r) calc(1px * var(--scale)) repeat-y,
    var(--b) bottom / calc(1px * var(--scale)) var(--width-b) repeat-x,
    var(--l) left / var(--width-l) calc(1px * var(--scale)) repeat-y,
    var(--c) center repeat;

  min-height: calc(var(--width-t) + var(--width-b));
  min-width: calc(var(--width-r) + var(--width-l));
}
