@media (prefers-color-scheme: dark) {
  .window-border {
    --edge: url(/asset/themed/dark/image/window_border/edge.png);
    --tl: url(/asset/themed/dark/image/window_border/tl.png);
    --tr: url(/asset/themed/dark/image/window_border/tr.png);
    --br: url(/asset/themed/dark/image/window_border/br.png);
    --bl: url(/asset/themed/dark/image/window_border/bl.png);
    --title: url(/asset/themed/dark/image/window_border/title.png);
    --window-bg-color: #3d3d3d;
    --window-bg-color: #4f4f4f;
    --title-bg-color: #035a5a;
    --title-color: #787878;
  }
}

@media (prefers-color-scheme: light) {
  .window-border {
    --edge: url(/asset/themed/light/image/window_border/edge.png);
    --tl: url(/asset/themed/light/image/window_border/tl.png);
    --tr: url(/asset/themed/light/image/window_border/tr.png);
    --br: url(/asset/themed/light/image/window_border/br.png);
    --bl: url(/asset/themed/light/image/window_border/bl.png);
    --title: url(/asset/themed/light/image/window_border/title.png);
    --window-bg-color: #fafafa;
    --title-bg-color: #36a5a5;
    --title-color: #ebebeb;
  }
}

.window-border {
  position: relative;

  background: var(--window-bg-color) padding-box;

  --border-slice-t: 12;
  --border-slice-r: 8;
  --border-slice-b: 8;
  --border-slice-l: 8;

  --border-width-t: calc(1px * var(--border-slice-t) * var(--pixel-scale));
  --border-width-r: calc(1px * var(--border-slice-r) * var(--pixel-scale));
  --border-width-b: calc(1px * var(--border-slice-b) * var(--pixel-scale));
  --border-width-l: calc(1px * var(--border-slice-l) * var(--pixel-scale));

  border: solid;
  /* prettier-ignore */
  border-width:
    var(--border-width-t)
    var(--border-width-r)
    var(--border-width-b)
    var(--border-width-l);
  /* prettier-ignore */
  border-image:
    var(--edge)
    var(--border-slice-t)
    var(--border-slice-r)
    var(--border-slice-b)
    var(--border-slice-l)
    repeat;

  &::before {
    position: absolute;

    /* prettier-ignore */
    inset:
      calc(-1 * var(--border-width-t))
      calc(-1 * var(--border-width-r))
      calc(-1 * var(--border-width-b))
      calc(-1 * var(--border-width-l));

    content: "";
    pointer-events: none;

    --corner-size: 43px;

    background:
      var(--tl) top left no-repeat,
      var(--tr) top right no-repeat,
      var(--br) bottom right no-repeat,
      var(--bl) bottom left no-repeat;

    background-size: calc(var(--corner-size) * var(--pixel-scale));
  }

  & > h2:first-child {
    position: absolute;

    --height: 27px;
    --line-height: 8px;

    top: calc(-1 * var(--height) * var(--pixel-scale));
    /* pixel-scale accounted for in the width*/
    left: calc(-1 * var(--border-width-r));
    height: calc(var(--height) * var(--pixel-scale));

    color: #92e7e9;
    font-size: calc(var(--line-height) * (var(--pixel-scale)));
    font-family: "PressStart2P";
    text-align: center;
    line-height: calc(var(--line-height) * (var(--pixel-scale)));

    background-color: var(--title-bg-color);
    background-clip: content-box;

    --title-slice-t: 9;
    --title-slice-r: 23;
    --title-slice-b: 9;
    --title-slice-l: 13;

    --title-width-t: calc(1px * var(--title-slice-t) * var(--pixel-scale));
    --title-width-r: calc(1px * var(--title-slice-r) * var(--pixel-scale));
    --title-width-b: calc(1px * var(--title-slice-b) * var(--pixel-scale));
    --title-width-l: calc(1px * var(--title-slice-l) * var(--pixel-scale));

    border: solid;
    /* prettier-ignore */
    border-width:
      var(--title-width-t)
      var(--title-width-r)
      var(--title-width-b)
      var(--title-width-l);
    /* prettier-ignore */
    border-image:
      var(--title)
      var(--title-slice-t)
      var(--title-slice-r)
      var(--title-slice-b)
      var(--title-slice-l)
    repeat;
  }

  & > .top-section {
    /* prettier-ignore */
    padding:
      calc(4px * var(--pixel-scale))
      calc(8px * var(--pixel-scale))
      calc(5px * var(--pixel-scale))
      calc(8px * var(--pixel-scale));

    color: var(--title-color);
    text-align: right;
    font-size: inherit;
    font-weight: inherit;
  }
}
