main {
  display: flex;
  flex-direction: column;
  margin-top: 10em;
}

article {
  font-family: sans-serif;
  width: max(60vw, calc(200 * var(--scale-px)));
  margin: 0 auto;

  &:not(:first-of-type) {
    margin-top: 4rem;
  }

  & > h2 {
    font-family: inherit !important;
  }

  & > h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & > p {
    margin: calc(2 * var(--scale-px)) calc(5 * var(--scale-px));
  }

  & > div {
    display: flex;
    justify-content: right;
    margin-right: calc(5 * var(--scale-px));
    margin-bottom: calc(2 * var(--scale-px));
  }
}
